<%- include("../views/layout/boilerplate.ejs") %>
<style>
    .column{
        margin : auto;
    }
</style>
    <body>
        <%- include("../views/includs/navbar.ejs")%>
          
        <div class="container">
            <div class="alert alert-danger mt-4 " role="alert">    
                <h5 class="err"><%= err.message%></h5>
                <p class="err"><%= err.stack%></p>
              </div>
        </div>

        <%- include("../views/includs/footer.ejs") %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                    crossorigin="anonymous"></script>
    </body>

    </html>