<%- include("../views/layout/boilerplate.ejs") %>

    <body>
        <%- include("../views/includs/navbar.ejs")%>
        <%- include("../views/includs/flash.ejs")%>
            <div class="container">
                <div class="row">
                    <div class="col-md-7" style="margin: auto;">
                        <h3>Edit Your Listing</h3>
                        <form action="#" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

                            <div class="form-group mb-3" >
                                <label for="title">Title</label>
                                <input type="text" placeholder="enter title" name="listing[title]"
                                value="<%=data.title %>" class="form-control" required>
                                <div class="invalid-feedback">
                                    Title is Required!
                                  </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea type="text" id="" name="listing[description]" placeholder="enter description"
                                 class="form-control" required><%=data.description %></textarea>
                                 <div class="invalid-feedback">
                                    Description is Required!
                                  </div>
                            </div>
                            
                            <!-- <div class="form-group mb-3">
                                <label for="image">Image Link</label>
                                <input type="text" name="listing[url]" id="" placeholder="enter image URL/Link"
                                value="<%=data.url %>" class="form-control" required>
                                <div class="invalid-feedback">
                                    Image is Required!
                                  </div>
                            </div> -->

                            <div class="mb-3">
                                Original Listing Image
                                <img src="<%= data.url%>" alt="" style="height: 280px; width: 100%;">
                            </div>

                            <div class="form-group mb-3">
                                <label for="image">Upload New Image</label>
                                <input type="file" name="listing[url]" id="image" placeholder="Enter image URL/Link"
                                    class="form-control" >
                            </div>

                            <div class="row m-0 p-0">
                                <div class="form-group col-md-4 mb-3">
                                    <label for="price">Price</label>
                                    <input type="number" name="listing[price]" placeholder="enter price"
                                value="<%=data.price %>" class="form-control" required>
                                <div class="invalid-feedback">
                                    Price is Required!
                                  </div>
                                </div>

                                <div class="form-group col-md-7 mb-3">
                                    <label for="country">country</label>
                                    <input type="text" name="listing[country]" placeholder="enter country"
                                value="<%=data.country %>" class="form-control" required>
                                <div class="invalid-feedback">
                                    Country is Required!
                                  </div>
                                </div>
                            </div>
                            
                            <div class="location mb-3">
                                <label for="location">Location</label>
                                <input type="text" name="listing[location]" placeholder="enter location"
                                value="<%=data.location %>" class="form-control" required>
                                <div class="invalid-feedback">
                                    Location is Required!
                                  </div>
                            </div>
                            
                            <div class="form-group mt-3">
                                <button class="btn button">Edit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <%- include("../views/includs/footer.ejs") %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                    crossorigin="anonymous"></script>
    </body>

    </html>